registry=https://registry.npmjs.org
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
prefer-workspace-packages=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=7FC14D5E-C0AE-4D14-A388-1CB0E18F5D27
@harness-giving:registry=https://npm.pkg.github.com/